*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;

}
body{
    background:#000;
    color:#fff;
}
.header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("IN-en-20230710-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-position: center;
    padding : 10px 8%;
    position: relative;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
.logo{
    width:150px;
    cursor:pointer;

}
nav button{
    border:0;
    outline:0;
    background: #db0001;
    color:#fff;
    padding:7px 20px;
    font-size:12px;
    border-radius:4px;
    margin-left:10px;
    cursor:pointer;
}
.language-btn{
    display:inline-flex;
    align-items:center;
    padding:7px 10 px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;

}
.header-content h1{
    font-size: 60px;
    line-height:70px;
    font-weight:600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background:#fff;
    border-radius:4px;
    display:flex;
    align-items:center;
    margin-top:30px;
    overflow:hidden;
}
.email-signup input{
    flex:1;
    border:0;
    outline:0;
    margin-left:20px;

}
.email-signup button{
    background : #db0001;
    border:0;
    outline:0;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    padding :15px 30px;
}
.features{
    padding:50px 12%;
    font-size:22px;

}
.row{
    display:flex;
    width:100%;
    align-items: center;
    flex-wrap:wrap;
    padding:50px 0px;

}
.text-col{
    flex-basis:50%;
    margin-bottom:20px;
}
.img-col{
    flex-basis:50%;
    margin-bottom:20px;
}
 .img-col img{
    display: block;
    width:90%;
    margin:auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px;
}
.FAQ
{
    padding: 10px;
}
.FAQ h1
{   text-align: center;
    font-size: 4vw;
    margin: 3vw;
}
.facts
{
    display: grid;
    place-content: center;
    place-items: center;
    margin: 2vh
}
.faq_ques
{
    margin: 0 0 0 0;
    width: 70vw;
    height: 8vh;
    background-color: #63637478;
    display: grid;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2vw;
    /* place-content: center; */
    align-items: center;
    /* place-items: center; */
}
.faq_ques p
{
    margin: 1vw;
    display: inline;
}
.faq_ques p img
{
    width: 30px;
    height: 30px;
    filter: brightness(10);
    float: right;
}
.faq_answer
{
    font-size: 1vw ;
    width: 70vw;
    display: grid;
    font-family: 'Merriweather Sans', sans-serif;
    transition-duration: 5s;
    background-color: #63636ca0;
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
    padding: 3vh;
    margin-left: 3vw ;
    margin-right: 3vw ;
}
details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  
@media screen and (max-width:800px)
{
    .small
    {
        display: none;
    }
    .card
    {
        width: 85%;
        font-size: 2vh;
    }
    .mid_body
    {
        display: grid;
        padding: 10px;
        place-content: center;
        place-items: center;
        align-items: center;
    }
    .FAQ h1 
    {
        font-size: 3vw;
    }
}
.Email h3{
    text-align: center;
    padding-top: 30px;
}
.Email {
    padding: 0 25%;
    position: relative;
    padding-bottom: 20px;
}
.footer{
    padding:50px 15% 10px;
    border-top: 6px solid #333;
    color:#d6d3d3;
   
}
.footer h2{
    font-size:18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis:25%;
    flex-grow:1;
    margin-bottom:20px ;
}
.footer .col a{
    color:#c2bfbf;
    font-weight: 500;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
    display:inline-block;
    margin:0px 50px;
}
.footer a:hover {
    color: rgb(245, 107, 107);
  }
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
    
}
.footer p{
    padding-top: 20px;
}